.center{
padding-left: 50rem;
padding-top: 6rem;
    
    }
    
    #config{
    margin: 5px;
   border: none;
    border-radius: 1rem ;
    padding-left: 1rem ;
    padding-top: 1rem ;
    padding-bottom: 1rem ;
    padding-right: 5rem ;
    background-color: #e7dfdf;
    }

    #config:focus{
      
        transition: 0.7s;
outline-color: aqua ;


    }

    .opa{
        margin: 5px;
       border: none;
        border-radius: 1rem ;
        padding-left: 1rem ;
        padding-top: 1rem ;
        padding-bottom: 1rem ;
        padding-right: 5rem ;
        background-color: #e7dfdf;
        }
    
        .opa:focus{
          
            transition: 0.7s;
    outline-color: aqua ;
    
    
        }
    


    
    .senha{
        margin: 5px;
       border: none;
        border-radius: 1rem ;
        padding-left: 1rem ;
        padding-top: 1rem ;
        padding-bottom: 1rem ;
        padding-right: 5rem ;
       
        }


        .senha:focus{
      
            transition: 1s;
    outline-color: aqua ;
    
    
        }

    #img2{
border: 1px solid;
border-color: aqua;
border-radius: 3rem ;
padding: 1rem;

    }

    .radius{

border-radius: 1rem;
border-color: aqua;

    }


    .radius2{

        border-radius: 1rem;
        border-color: aqua;
        padding-left: 5rem;
        padding-right: 6rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
            }

            .radius2:hover{
background-color: cadetblue;
transition: 1s;


            }

            .center2{
margin-bottom: 2rem;
                padding-left: 6rem;
            }
            
            
            .center2  img{

border-radius: 3rem;

            }