.profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.profile-info {
    margin-left: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1 {
    font-size: 24px;
    margin: 0;
}

/* Estilo para as postagens */
.postagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Exibe até 3 colunas de postagens por linha */
    gap: 20px; /* Espaçamento entre as postagens */
    padding: 20px;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.post-image {
    max-width: 100%;
    height: auto;
}